.dashboard {
    height: 40px;
    background: #eee;
    color: #aaa;
}

.dashboard-container {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.dashboard-item {
    margin-right: 20px;
}

.dashboard-item:hover {
    color: #777;
    cursor: pointer;
}

.dashboard-forms {
    background: #fff;
    z-index: 1;
    position: relative;
}

.dashboard-form {
    height: 100%;
    display: flex;
}

.dashboard-form-inputs {
    padding: 20px 20px;
}
.dashboard-form-buttons {
    padding: 10px 20px  ;
    background: #eee;
    border-bottom: 1px solid #aaa;
}

.dashboard-form__input {
    width: calc(100% - 40px);
    height: 24px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #aaa;
    outline: none;
    padding: 7px 25px;
}

.dashboard-form__button {
    border-radius: 3px;
    outline: none;
    color: #fff;
    font-weight: bold;
    background: red;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}

.hidden {
    height: 0;
    display: none;
}

.cancel-btn {
    background: rgb(216,45,84);
}

.accept-btn {
    background: rgb(18,134,132);
}