<div class="dashboard">
    <div class="dashboard-container">
        <div class="dashboard-item" id="add-btn" onclick="showForm('add-form')">
            <i class="mdi mdi-library-plus mdi-24px"></i>
        </div>
        <div class="dashboard-item" id="search-btn" onclick="showForm('search-form')">
            <i class="mdi mdi-magnify mdi-24px"></i>
        </div>
        <div class="dashboard-item" id="filter-btn" onclick="showForm('filter-form')">
            <i class="mdi mdi-filter-outline mdi-24px"></i>
        </div>
    </div>

    <div class="dashboard-forms">
        <% include dashboard-forms/create-form.ejs %>
        <% include dashboard-forms/search-form.ejs %>
        <% include dashboard-forms/filter-form.ejs %>
    </div>
</div>