<div class="task-list-item
    <% if(task.done){%>
        completed
    <%}%>">

    <div class="task-item-checkbox">
        <label class="task-item-checkbox__container">
            <input type="checkbox" name="done"
                    <% if(task.done){%>
                        checked="checked";
                        disabled="disabled"
                    <%}%>
                   value="<%= task._id %>">
            <span class="task-item-checkbox__checkmark"></span>
        </label>
    </div>

    <p class="task-list-item__title"> <%= task.title %> </p>


    <p class="task-list-item__deadline">
        <span>deadline: </span>
        <%= task.deadline? task.deadline.toDateString() : 'None' %>
    </p>
</div>