<div class="dashboard-form hidden" id="add-form">
    <form method="post" action="/todo-list/create">
        <input type="hidden" name="done" value="false">
        <div class="dashboard-form-inputs">
            <input class="dashboard-form__input" type="text" placeholder="Title ..." name="title"><br>
            <input class="dashboard-form__input mgt-20" type="date" name="deadline">
        </div>
        <div class="dashboard-form-buttons">
            <button class="dashboard-form__button cancel-btn" type="button" onclick="hideForm('add-form')">Cancel</button>
            <button class="dashboard-form__button accept-btn" type="submit">Add</button>
        </div>
    </form>
</div>