<div class="dashboard-form hidden" id="filter-form">
    <form method="get" action="/todo-list/filter">
        <div class="dashboard-form-inputs">
            <input type="checkbox" name="done"
            <% if (showCompletedTask) {%>
                   checked="checked"
                    <% } %>
            ><span>Show completed tasks</span>
            <input type="radio" name="sort" value="name"><span>Sort by name</span>
            <input type="radio" name="sort" value="date"><span>Sort by date</span>
            <input type="radio" name="sort" value="status"><span>Sort by status</span>
        </div>
        <div class="dashboard-form-buttons">
            <button class="dashboard-form__button cancel-btn" type="button" onclick="hideForm('filter-form')">Cancel</button>
            <button class="dashboard-form__button accept-btn" type="submit">Sort</button>
        </div>
    </form>
</div>