<div class="dashboard-form hidden" id="search-form">
    <form method="get" action="/todo-list/search">
        <div class="dashboard-form-inputs">
            <input class="dashboard-form__input" type="text" placeholder="Title ..." name="title"><br>
        </div>
        <div class="dashboard-form-buttons">
            <button class="dashboard-form__button cancel-btn" type="button" onclick="hideForm('search-form')">Cancel</button>
            <button class="dashboard-form__button accept-btn" type="submit">Search</button>
        </div>
    </form>
</div>