    </div>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/dashboard/eventHandler.js"></script>
    <script src="/javascripts/file-service/file-service.js"></script>
</body>
</html>