.task-list {
    flex-grow: 3;
    padding: 20px;
}

.task-list-button {
    padding: 10px 60px;
    color: #fff;
    background: rgb(18,134,132);
    outline: none;
    border-radius: 3px;
    font-size: 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}