.task-list-item {
    background: rgba(240, 240, 240, 0.9);
    display: flex;
    margin-top: 5px;
    border-radius: 3px;
    border-left: 5px solid #aaa;
    padding-right: 50px;
}
.task-list-item:hover {
    background: #eee;
}

.task-list-item__title {
    color: #444;
}

.task-list-item__deadline {
    margin-left: auto;
}

.task-list-item__deadline span {
    color: #555;
}



.task-item-checkbox__container {
    margin-top: 10px;
    margin-left: 30px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task-item-checkbox input {
    display: nonert;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.task-item-checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 2px;
    border: 2px solid #aaa;
}

.task-item-checkbox__container:hover input ~ .task-item-checkbox__checkmark {
    background-color: rgba(240, 240, 240, 0.9);
}

.task-item-checkbox__container input:checked ~ .task-item-checkbox__checkmark {
    background-color: rgba(240, 240, 240, 0.9);
    color: #aaa;
}

.task-item-checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.task-item-checkbox__container input:checked ~ .task-item-checkbox__checkmark:after {
    display: block;
}

.task-item-checkbox__container .task-item-checkbox__checkmark:after {
    left: 8px;
    top: -12px;
    width: 7px;
    height: 21px;
    border: solid #aaa;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.completed {
    background: rgba(230, 230, 230, 0.6);
    text-decoration: line-through;
}

.completed:hover {
    background: rgba(230, 230, 230, 0.6);
}