<form action="/todo-list/create-fucking-file" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="text" value="246">
    <input type="file" name="photo" value="qwerty12345">
    <button type="submit">ADD</button>
</form>

<img src="<%= typeof file != 'undefined' ? file : '' %>" alt="">