body {
    margin: 0;
    padding: 0;
    background: url("../images/bg-main.jpg") no-repeat center top / cover;
    height: 100vh;
}

.tm-body {
    background-color: rgba(200, 200, 200, 0.15);
    height: 100%;
}
.mgt-20 {
    margin-top: 20px;
}

.workspace-content {
    display: flex;
}

body {
    text-align: center;
}

.get-started {
    padding-top: 300px;

}

.get-started a {
    color: #eee;
    font-size: 20px;
    text-decoration: none;
}