<div class="task-list">
    <form method="post" action="/todo-list/done">

        <% tasks.forEach(function(item){
            if (showCompletedTask || !item.done) { %>
            <%- include('task-list/task-item/task-item.ejs', {task: item}); %>
        <% }}); %>

        <button class="task-list-button" type="submit">Done</button>
    </form>

</div>